$black-blue: rgb(66, 86, 122);
$black-blue-10: rgba(66, 86, 122, 0.1);
$black-blue-20: rgba(66, 86, 122, 0.2);
$black-blue-40: rgba(66, 86, 122, 0.4);
$black-blue-50: rgba(66, 86, 122, 0.5);
$blue: rgb(56, 119, 238);
$purple: rgb(239, 93, 168);
$blue-purple: rgb(93, 95, 239);
$bg-white:rgb(244, 245, 249);
$mobile-slider-border:#C7CDD9;